@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div class="form-inline">

    <input asp-access asp-access-key="122" value="" type="text" placeholder="Authenticated user only" class="form-control" />


    <input asp-access value="" type="text" class="form-control" placeholder="will not show" />

</div>

<p>Use this area to provide additional information.</p>
